@page
@model Frontend.Pages.Payment.PayPal.PayPalConfirmedModel
@{
    ViewData["Title"] = "Conferma del pagamento PayPal";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p>Il pagamento è stato completato con successo! 🎉</p>
    <p>Grazie per il tuo acquisto. La transazione è stata confermata.</p>
</div>

